numpy==1.22.4
pandas==1.4.2
torch==1.11.0
transformers==4.19.2
joblib==1.1.0
tqdm==4.64.0
mypy==0.961
lxml==4.9.0
pandas-stubs==1.2.0.61
tqdm-stubs==0.2.0
pylint==2.14.1
pylint-json2html==0.4.0
pylint-exit==1.2.0
pytest==7.1.2
pytest-html==3.1.1
coverage==6.4.1
